// Body
body {
    background-color: $black;
    background-image: url("https://portfolio-images-jb.s3.eu-west-2.amazonaws.com/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $white;
    line-height: 1.25;
    font-family: $copy;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Navigation bar margin
@media only screen and (min-width: 960px) {
    .nav-margin {
        margin-left: 107px;
        max-width: calc(100vw - 107px);
    }
}

// Navigation bar margin
@media only screen and (max-width: 959px) {
    .nav-margin {
        margin-bottom: 83px;
    }
}

// About 
.profile {
    background: url("https://portfolio-images-jb.s3.eu-west-2.amazonaws.com/JoeProfile.png");
    background-size: cover;
    background-position: 50% 0%;
}

.info-copy {
    word-spacing: 0.5ch;
    margin-bottom: 0.85em;
}

.logos svg {
    min-width: 1.5rem;
    min-height: 1.5rem;
    color: $nav-green;
}

@media only screen and (max-width: 959px) {
    .profile {
        height: 35vh;
        margin-bottom: 1em;
    }
}

// All projects
.all-projects {
    flex-grow: 1;
}

.projects-container {
    column-count: 2;
    column-gap: 2em;
}

.project {
    break-inside: avoid;
    display: inline-block;
    width: 100%;
    margin: 0px 0px 3em;

    .min-image-size {
        width: 100%;
        background-color: $black;
        border-radius: 5px;
    }

    &:img {
        object-fit: cover;
    }

    &:hover>img {
        transition: all 3.5s linear;
        filter: blur(3px);
    }
}

.hidden {
    opacity: 0;
    transition: all 0.3s linear;
}

.visible {
    transition: all 0.3s linear;
}

.tag {
    color: $pink;
    background-color: $black;
    border: solid $brown 1px;
    padding: 4px 6px;
    border-radius: 5px;
    transition: border 0.2s ease;

    &:hover {
        border: solid $nav-green 1px;
    }
}

@media only screen and (max-width: 959px) {
    .projects-container {
        column-count: 1;
        column-gap: 0;
    }
}

// Nav bar
a.active,
a.active:hover {
    background-color: $nav-green;
}

a.nav-icon {
    min-width: 106px;
    border-radius: 10px;
}

@media only screen and (max-width: 30em) {
    .svg-inline--fa {
        font-size: 1em;
    }

    .nav-icon {
        min-width: 97px;
    }
}

// Contact
.icon-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 0.5em;
}

// Routing transitions
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.fade-exit {
    display: none;
}

.fade-exit.fade-exit-active {
    display: none;
}